*{
    margin:0px ;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header{
    background-image: url(./images/bentota\ cover\ image.jpg);
    height: 100vh;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    background-attachment: fixed;
    position: relative;
  
  }
  
  /*nav bar styles starts*/
  ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 3px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
  }
  
  ul li{
    display: inline-block;
  
  }
  
  ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 6px;
    border: 1px solid transparent;
    transition: 0.5 ease;
  
  }
  
  ul li a:hover{
    background-color: white;
    color: black;
  }

  /*nav bar styles ends*/
  

/*title on the background image*/
.title{
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-88%,-50%);
}
.logo img{
    float: left;
    width: 110px;
    height: auto;
    padding: 10px 10px;
}

.title h1{
    color: white;
    font-size: 75px;
    text-transform: uppercase;
}
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
      white 0%,
      rgba(227, 191, 113, 0.812) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
    
@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

/*first section style starts*/
.intro{
    display: flex;
    background-color: black;
    color: white;
}
.intro h2{
    padding: 3%;
    text-align: center;
    color: darkcyan;
    font-size: 32px;
}
.intro p{
    flex-basis: 33.3%;
    padding-left: 20px;
    padding-right: 80px;
    font-size: 17px;
}

/*second section style starts*/
#intro2 ol{
    flex-basis: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}

/*third section style starts*/
img{
    width: 19%;
    height: 210px;
    margin-top: 10px;
    padding-left: 9px;
}
.images{
    background-color: black;
}

/*fourth section style starts*/
.research{
  background-color: black;
  color: white;
}
.research h2{
  color: darkcyan;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  border-top:  1px solid white;
}
.research p{
  font-size: 18px;
  margin: 20px;
}
.research ol{
  padding: 30px;
  font-size: 16px; 
}

/* Footer style*/
footer {
  position: relative;
  bottom: 0;
}
.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
}
.footer-distributed .footer-left {
  width: 30%;
}
.footer-distributed h3 {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}
.footer-distributed h3 span {
  color: darkcyan;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/*responsive part*/
@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
  .subnav{
    display: flex;
    align-content: end;
    flex-wrap: wrap;
  }
  header ul{
    text-align: right;
  
  }
}

@media (max-width: 880px) {
  .intro{
    display: grid;
    padding-left: 10px;
  }
  .intro p{
    font-size: 16px;
  }
  #img{
    width: 200px;
    height: 230px;
  }
  .title h1{
    font-size: 40px;
    margin-top: 40%;
  }
  #intro2 ol{
    padding-left: 20px;
    font-size: 16px;
  }

}       




